<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="display-4 text-center    ">Predmeti</h1>
            <hr>
        </div>
        <div class="col-md-8">

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Naziv</th>
                        <th scope="col">Skraćenica</th>
                    </tr>
                </thead>
                <tbody ng-repeat="predmet in ctrl.predmeti">
                    <tr>
                        <td>{{predmet.naziv}}</td>
                        <td>{{predmet.skracenica}}</td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </div>

        <div class="col-md-12">
            <h1 class="display-4 text-center">Studenti</h1>
            <hr>
        </div>
        <div class="col-md-8">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Indeks</th>
                        <th scope="col">Ime</th>
                        <th scope="col">Prezime</th>
                    </tr>
                </thead>
                <tbody ng-repeat="student in ctrl.students">
                    <tr>
                        <td>{{student.indeks}}</td>
                        <td>{{student.ime}}</td>
                        <td>{{student.prezime}}</td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </div>
    </div>


</div>